**/.env
**/node_modules/
**/data/
**/*.db
**/*.log
.DS_Store
.cache/
zigbee-gateway/build/
zigbee-gateway/sdkconfig
zigbee-gateway/sdkconfig.old
zigbee-gateway/dependencies.lock
zigbee-gateway/managed_components/
rivermillsolar/