CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_HTTPD_WS_SUPPORT=y
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_TINYUSB_NET_MODE_NCM=y
CONFIG_LWIP_DHCPS=y
CONFIG_HALITE_USB_NCM=y
# CONFIG_HALITE_ESP_HOSTED is not set
# CONFIG_HALITE_P4_ETHERNET is not set
CONFIG_HALITE_IPC_UART_NUM=1
CONFIG_HALITE_IPC_TX_GPIO=4
CONFIG_HALITE_IPC_RX_GPIO=5
CONFIG_HALITE_IPC_BAUD=921600
